.search-form{
    display: block;
    text-align: center;
}

.fetch-input{
  
    width: 300px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;

}

.country-name{
    
    font-size: 50px;
    text-align: center;
}

.country-data{
    display: flex;
    justify-content: space-around;
    list-style: none;
}



.data-item{
    margin-top: 15px;
font-size: 25px;
font-weight: 500;
}

.data-item:not(:last-child){
    margin-bottom: 15px;
}